<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<br>

<div class="card">
        <div class="card-header">
                <h3 >Login</h3>
        </div>
        <div class="card-body">
                <div class="row">
                        <div class="col-lg-2"></div>
                      <div class="col-lg-4">
                           <label for="email">Email</label>
                      <input class="form-control" type="text" placeholder="email" [(ngModel)]="email">
                      </div>
                      <div class="col-lg-4">
                        <label for="password">Password</label>
                        <input type="password" placeholder="password" [(ngModel)]="password" class="form-control"/>
                      </div>
                      <div>
                        <button class="btn btn-success"  type="submit" (click)="Login()">Login</button>
                      </div>
                      </div>
      </div>

